.nav-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
    padding: 18px 40px 18px 40px;

    background-color: rgba(19, 43, 16, 0.096);
    box-shadow: 0px 0px 0px 10px rgba(19, 43, 16, 0.267);
}

.nav-links {
    width: 26%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: end;

    gap: 40px;
}

.nav-link {
    cursor: pointer;

    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 12px;
}

.nav-link-active {
    color: darkgoldenrod;
}

.nav-link-active:hover {
    text-decoration: none;
    color: darkgoldenrod;
}
