.me {
    align-self: flex-end;
    justify-content: end;
}

.other {
    align-self: flex-start;
    justify-content: start;
}

.message-container {
    width: 80%;

    display: flex;
    flex-direction: row;

    align-items: start;

    gap: 12px;

    padding: 12px;
}

.message-text {
    padding: 12px;

    max-width: 60%;
    overflow-wrap: break-word;

    background-color: rgba(19, 43, 16, 0.096);
    border-radius: 12px;

    font-size: 14px;

    text-align: center;

    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.329);
}

.message-picture {
    padding-top: 30px;
    min-width: 20%;
    font-size: 50px;
}

.message-date-container {
    width: 100%;
}

.text-end {
    text-align: end;
}

.text-start {
    text-align: start;
}
